.container {
  padding: 15px;
}

.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 15px 15px;
  
  button {
    margin: 10px;
  }
}
